* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */

body {
    background-color: lightgray;
}

header {
    height: 100px;
    line-height: 100px;
    background-color: white;
}

#logo {
    height: 50px;
    vertical-align: middle;
    margin-left: 30px;
}

h1 {
    font-size: 50px;
    font-style: bold;
    display: inline;
    vertical-align: middle;
}

.container {
    max-width: 1080px;
    background-color: white;
    height: 60px;
    margin: 50px auto 5px auto;
}

.todo {
    height: 600px;
    margin-top: 0;
}

button {
    height: 50%;
    width: 90px;
    margin: 15px 0 15px 40px;
    border-radius: 7px;
    border-color: lightgray;
}

.task {
    background-color: lightblue;
}

.section {
    margin-left: 10px;
}